$margin:    8em;




._margin {
  margin-top: $margin;
}

.header {
  text-align: center
}

.input__name {
  & p {
    width: 100%;
  }
}

.input--form {
  & input {
    width: 100%;
  }
}

._margin {
  height: 60em;
}


